{{- $tag := .Site.Params.amazonTag -}}
{{- $title := .Get "title" -}}
{{- $asin := .Get "asin" -}}
{{- $search := .Get "search" -}}
{{- $price := .Get "price" -}}
{{- $image := .Get "image" -}}
{{- $verdict := .Get "verdict" -}}
{{- $url := "" -}}
{{- if $asin -}}
  {{- $url = printf "https://www.amazon.com/dp/%s?tag=%s" $asin $tag -}}
{{- else if $search -}}
  {{- $url = printf "https://www.amazon.com/s?k=%s&tag=%s" (urlquery $search) $tag -}}
{{- end -}}
<div class="gear-card">
  {{- if $image }}
  <div class="gear-card-image">
    <img src="{{ $image }}" alt="{{ $title }}" loading="lazy" />
  </div>
  {{- end }}
  <div class="gear-card-body">
    <h3 class="gear-card-title">{{ $title }}</h3>
    {{- if $price }}
    <span class="gear-card-price">{{ $price }}</span>
    {{- end }}
    {{- if $verdict }}
    <p class="gear-card-verdict">{{ $verdict }}</p>
    {{- end }}
    {{- if $url }}
    <a href="{{ $url }}" class="gear-card-btn" target="_blank" rel="nofollow noopener sponsored">View on Amazon<svg class="amzn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="14" height="14"><path fill="currentColor" d="M257.2 162.7c-48.7 1.8-169.5 15.5-169.5 117.5 0 109.5 138.3 114 183.5 43.2 6.5 10.2 35.4 37.5 45.3 46.8l56.8-56S341 288.9 341 261.4V114.3C341 89 316.5 32 228.7 32 140.7 32 94 87 94 136.3l73.5 6.8c16.3-49.5 54.2-49.5 54.2-49.5 40.7-.1 35.5 29.8 35.5 69.1zm0 86.3c0 80-84.2 68-84.2 17.2 0-47.2 50.5-56.7 84.2-57.8v40.6zm136 163.5c-7.7 10-70 67-174.5 67S34.2 408.5 9.7 379c-6.8-7.7 1-11.3 5.5-8.3C88.5 415.2 203 428.5 304.5 373c8.5-4.5 16.5 4.8 8.7 13v26.5z"/></svg></a>
    {{- end }}
  </div>
</div>
